@import "tailwindcss";

@theme {
  --color-primary: #4CAF50;
  --color-primary-light: #8BC34A;
  --color-primary-dark: #388E3C;
  --color-secondary: #C8E6C9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

